<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DTAnalyzer</title>

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body class="container mx-auto px-2">
        {% block body %}{% endblock %}
    </body>
</html>
